[submodule "SatPlan"]
	path = SatPlan
	url = https://github.com/Khodeir/SatPlan.git
[submodule "adl2strips"]
	path = adl2strips
	url = https://github.com/pucrs-automated-planning/adl2strips.git
[submodule "tarski"]
	path = tarski
	url = https://github.com/aig-upf/tarski.git
